[Unit]
Description=Run UCAS network SRUN login.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/auto_login/run.py
User=newton
Restart=on-failure

[Install]
WantedBy=multi-user.target